torch
torchaudio
torchvision
librosa
torchdiffeq
jaxtyping
x-transformers
gateloop-transformer
matplotlib
huggingface-hub
matplotlib
tqdm
scipy
scikit-learn
rotary-embedding-torch
soundfile
einops
ninja
tqdm
pyyaml
